@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 12px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 8px;
}

body {
  background-color: lightgray;
}

.logo {
  z-index: 2;
  text-decoration: none;
  font-family: "Noto Serif JP", serif;
  color: black;
}

.home {
  background-color: gray;
}

.dropdown {
  height: 100%;
}

.dropdown__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  border-radius: 20%;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
}

.dropdown__button:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "☰";
  height: 10px;
  width: 10px;
}

.active .dropdown__button:after {
  content: "X";
}

.dropdown__menu {
  display: none;
}

.active .dropdown__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(143, 57, 57);
}

.menu__link {
  margin: 10px 0;
  color: orangered;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
  display: inline-block;
  transform: scale(1.2);
  border-bottom-color: black;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .active .dropdown__menu {
    width: 35%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }

  header {
    justify-content: space-between;
  }

  .dropdown__button {
    display: none;
  }

  .dropdown__menu {
    display: block;
  }

  .menu__link {
    margin: 0 10px;
  }
}

.cards:first-child {
  background-image: url(/assets/layout/prancheta1.png);
}

.cards:nth-child(2) {
  background-image: url(/assets/layout/prancheta2.png);
}

.cards:last-child {
  background-image: url(/assets/layout/prancheta3.png);
}

section {
  padding: 35px 20px;
}
/* GENERIC CARDS  */

.card {
  height: 500px;
  width: 100%;
  border-radius: 8px;
  padding: 18px;
  box-shadow: 0 0 1px 1px black;
}
.card__img {
  height: 75%;
  width: 100%;
  border-radius: 8px;
}

.card__brand {
  font-size: 2rem;
  color: pink;
}

.card__fourthtitle {
  font-size: 2rem;
  color: orangered;
}

.card__value {
  color: rgba(48, 49, 45, 0.781);
  font-size: 1.5rem;
}

.card__value {
  display: flex;
  justify-content: space-between;
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured__cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  column-gap: 40px;
  row-gap: 40px;
}

.featured__subtitle {
  color: black;
}

.featured__text {
  font-size: 2rem;
  color: blueviolet;
}

.logo__figure {
  width: 50px;
  height: 50px;
}

.home {
}
.home__fourthtitle {
}
.home__title {
}
.home__text {
}
.home__img {
}
