@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-color: #fafafa;
  --escuro-color: #282828;
  --cinza-color: lightgray;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--escuro-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

li {
  list-style-type: none;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-family: 'Noto Serif JP', sans-serif;
}

/* Inside this block of code, is the style of the navbar list hover bar */
.navbar ul {
  --_gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  padding-inline: calc(var(--_gap) / 3);
  position: relative;
}

.navbar li::after {
  content: '';
  height: 3px;
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: -6px;
  background: blueviolet;
  pointer-events: none;

  scale: 0 1;
  transition: scale 300ms, translate 350ms;
}

nav li:hover::after {
  scale: 1 1;
}

nav li:hover + li::after {
  translate: -100%;
}

nav li:has(+ :hover)::after {
  translate: 100%;
}

.navbar li a {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: color 550ms;
}

.navbar a::before {
  content: '';
  position: absolute;
  inset: -5px;
}

.navbar a.active {
  color: blueviolet;
}

.navbar ul:hover a:not(:hover).active {
  color: inherit;
}

.navbar a:hover {
  color: blueviolet;
}

/* Here ends the changes on this style */

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* content  */

.container {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background: url(/assets/wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-box {
  margin-left: 10%;
}

.container-box h2 {
  font-weight: 400;
  font-size: 36px;
  color: orange;
}

.container-box label {
  display: inline-block;
  margin-top: 5px;
  font-size: 22px;
  font-weight: 300;
}

.container-box label span {
  color: rgb(199, 43, 199);
}

.container-box a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  color: blueviolet;
  letter-spacing: 3px;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 4px 4px 10px blueviolet, -4px -4px 10px #fafafa;
}

.container-box a:hover {
  box-shadow: -4px 4px 10px #fafafa, -4px -4px 10px #fafafa;
  color: orange;
}

/* category  */

.category {
  background: #fafafa;
  margin: 80px 0;
}

.category-title {
  margin-top: 20px;
  margin-bottom: 90px;
}

.category-title h2 {
  text-align: center;
}

.category .category-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category .category-box .box {
  margin: 30px 20px;
}

.category .category-box img {
  width: 600px;
  border-radius: 5px;
  height: 328px;
}

.category .category-box .box-content {
  position: absolute;
  z-index: 1;
  margin-left: 30px;
  margin-top: 100px;
}

.category .category-box .box-content h3 {
  color: rgb(255, 103, 103);
}

.category .category-box .box-content label {
  display: block;
  font-size: 30px;
  color: rgb(255, 103, 103);
}

.category .category-box .box-content a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 25px;
  background: white;
  transition: all 0.19s ease-in;
  color: black;
}

.category .category-box .box-content a:hover {
  background: rgb(255, 237, 237);
}

.category .category-box .box-content.b2 {
  margin-left: 370px;
  text-align: right;
  margin-top: 100px;
}

.category .category-box .box-content h3 {
  color: rgb(91, 253, 202);
}

.category .category-box .box-content.b2 label {
  color: rgb(91, 253, 202);
}

#hero {
  background-image: url(/assets/modelman.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: var(--text-color);
}

#hero button {
  border: 0;
  padding: 14px 80px 14px 65px;
}
