@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #fafafa;
  --escuro-color: #282828;
  --cinza-color: lightgray;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--escuro-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-family: 'Noto Serif JP', sans-serif;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 600;
  margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--cinza-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
